#titleBar
{
font-family: "Anton", sans-serif; /* as close of a font to the official Olympics page (Bebas Neue) without doing some really funky stuff. Might change it to that later if there's time */
color: black;
text-align: center;
}

.endnote /* the blue numbers which link to where I got information from, again please steal I think its a good mark gainer */
{
color: blue;
font-size: 12px;
}

#img1
{
width: 682px;
align: center;
}

#img0
{
width: 100px;
}

#olyLogo
{
width: 50px;
}

#img0:hover /* could have made this a class for when I reuse it later but like usual, its done now. */
{
opacity: 50%; /* this is for the image hovering incase it wasn't clear */
}

#cover-image
{               /* centers image no matter the page size, please someone help with the sizing though. please */
display: block;
margin-left: auto;
margin-right: auto;
}

.left-aside
{
float: left;
margin: 1em;
}

.right-aside
{
float: right;
margin: 0.6em;
}

#olyLogo:hover
{
opacity: 50%;
}

#participants
{
margin: 0.4rem;
font-size: 16px;
}

#tragedy
{
margin: 0.4rem;
font-size: 16px;
}

#Irish
{
margin: 0.4rem;
font-size: 16px;
}

#mary-tracey
{
width: 120px;
border-radius: 50%;
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#Medal
{
margin: 0.4rem;
font-size: 16px;
}

.spacer
{
background-color: white;
padding: 1rem;
}

.subtopic-title
{
text-align: center;
font-size: 22px;
}

#participants-img
{
width: 600px;
display: block;
margin-left: auto;
margin-right: auto;
}



#white-logo
{
float: left;
width: 130px;
margin: 50px;
}

.white-text
{
color: #ffffff;
}

#black-box-text
{
margin: 1em;
}

#top-button
{
color: #ffffff;
}

.font
{
font-family: "Anton", sans-serif;
}