#titleBox
{
background-color: #f5f5f5;
padding: 0.2rem;
}

#topbar
{

}

#linkBar
{
background-color: #f7f7f7;
color: gray;
text-align: center;
}

#linkBar-list
{
list-style: none;
display: flex;
align-items: center;
justify-content: center;
}

.subtopic /* I don't know if we're doing the off-white color for the back of articles */
{
background-color: #f7f7f7;
}






#bottom-bar
{
background-color: black;
width: auto;
height: 500px;
}