#titleBar
{
position: sticky;
font-family: "Anton", sans-serif; /* as close of a font to the official Olympics page (Bebas Neue) without doing some really funky stuff. Might change it to that later if there's time */
color: black;
text-align: center;
}

.spacer
{
background-color: white;
padding: 1rem;
height: 1em;
}

.endnote /* the blue numbers which link to where I got information from, again please steal I think its a good mark gainer */
{
color: blue;
font-size: 12px;
}

#img1
{
width: 682px;
align: center;
}

#img0
{
width: 150px;
margin: 0.5em;
}

#olyLogo
{
width: 50px;
}

#img0:hover /* could have made this a class for when I reuse it later but like usual, its done now. */
{
opacity: 50%; /* this is for the image hovering incase it wasn't clear */
}

#cover-image
{               /* centers image no matter the page size */
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 150px;
border: 10px solid #f6f6f6;
box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
border: 10px solid #f6f6f6;
box-shadow: 0 0 8px 1px rgba(0, 140, 186, 0.5);
}

.left-aside
{
float: left;
margin: 1em;
}

.right-aside
{
float: right;
margin: 0.6em;
}

#olyLogo:hover
{
opacity: 50%;
}

.subtopic-title
{
text-align: center;
margin: 0.5em;
font-size: 22px;
}

#participants
{
margin: 0.4rem;
font-size: 16px;
}

#participants-list
{
text-align: left;
margin-left: 8em;
}

#events-list
{
text-align: right;
margin-right: 10em;
}

#participants-img
{
width: 600px;
margin-left: 1em;
}

#events-img
{
width: 60%;
margin-left: 1em;
align: right;
}

#pne-endnote
{
text-align: center;
}

#tragedy
{
margin: 0.4rem;
font-size: 16px;
}

#news-report
{
background-color: #f6f6f6;
}

#Irish
{
margin: 0.4rem;
font-size: 16px;
}

#mary-tracey
{
width: 120px;
border-radius: 50%;
box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
border: 10px solid #f6f6f6;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#irelands-participation
{
margin-left: 0em;
display: flex;
}

#Athletics-symbol
{
width: 50px;
height: 50px;
margin-right: 1.2em;
margin-left: 0.1em;
}

#Shooting-symbol
{
width: 50px;
height: 50px;
margin-right: 1.2em;
margin-left: 0.1em;
}

#Boxing-symbol
{
width: 50px;
height: 50px;
margin-right: 1.2em;
margin-left: 0.1em;
}

#Canoeing-symbol
{
width: 50px;
height: 50px;
margin-right: 1.4em;
margin-left: 0.1em;
}

#Cycling-symbol
{
width: 50px;
height: 50px;
margin-right: 1.4em;
margin-left: 0.1em;
}

#Fencing-symbol
{
width: 50px;
height: 50px;
margin-right: 1.4em;
margin-left: 0.1em;
}

#Equestrianism-symbol
{
width: 50px;
height: 50px;
margin-right: 1.4em;
margin-left: 0.1em;
}

#Judo-symbol
{
width: 50px;
height: 50px;
margin-right: 1.4em;
margin-left: 0.1em;
}

#Rowing-symbol
{
width: 50px;
height: 50px;
margin-right: 1.4em;
margin-left: 0.1em;
}

#Sailing-symbol
{
width: 50px;
height: 50px;
margin-right: 1.4em;
margin-left: 0.1em;
}

#Swimming-symbol
{
width: 50px;
height: 50px;
margin-right: 1.4em;
margin-left: 0.1em;
}

#Weightlifting-symbol
{
width: 50px;
height: 50px;
margin-right: 1.4em;
margin-left: 0.1em;
}

#Medal
{
margin: 0.4rem;
font-size: 16px;
}

#USSR-flag
{
width: 50px;
}

#US-flag
{
width: 50px;
}

#EGerman-flag
{
width: 50px;
}

#WGerman-flag
{
width: 50px;
}

#Japanese-flag
{
width: 50px;
}

#Australian-flag
{
width: 50px;
}

#Polish-flag
{
width: 50px;
}

#Hungarian-flag
{
width: 50px;
}

#Bulgarian-flag
{
width: 50px;
}

#Italian-flag
{
width: 50px;
}

#medal-info-title   /* can't really get this to sit on top of the info under it just yet */
{
width: 100px;
margin-right: 0.8em;
font-size: 3em;
}

#medal-info
{
width: 20em;
margin-right: 2em;
}

#Gold-medal
{
width: 250px;
margin-right: 8em;
border: 10px solid #f6f6f6;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Mary-Peters-medal
{
<<<<<<< HEAD
margin-left: 21em;
=======
margin-left: 35.5em;
>>>>>>> 718c6ce10a086d25660995d2e80b7d49bda2a076
}





#white-logo
{
float: left;
width: 130px;
margin: 50px;
}

#white-logo:hover
{
opacity: 50%;
}

.white-text
{
color: #ffffff;
}

#black-box-text
{
margin: 1em;
}

#top-button
{
color: #ffffff;
}

#bottom-bar-info
{
background-color: #000000
padding-left: 10em;
padding-top: 10em;
}

.table-text
{
color: #ffffff;
margin: 5em;
}

.font
{
font-family: "Anton", sans-serif;
}