#img0-ref
{
float: left;
width: 140px;
margin: 1em;
}

#img0-ref:hover
{
opacity: 50%;
}

#Joan-ref-title
{
width: 160px;
background-color: #f7f7f7;
padding: 0.2em;
margin-top: 10em;
}

#contact-title
{
text-align: center;
background-color: #f6f6f6;
padding: 2em;
}

.block
{
list-style: none;
width: 250px;
display: block;
}

#main-page
{
background-color: #f6f6f6;
}

#Cyan-games
{
background-color: #f6f6f6;
}

#Joan-games
{
background-color: #f6f6f6;
}

#Nika-games
{
background-color: #f6f6f6;
}

#contacts-page
{
background-color: #f6f6f6;
}

#references-page
{
background-color: #f6f6f6;
}

.ref-table-text
{
color: #ffffff;
margin: 2em;
}

#references
{
background-color: white;
padding: 0.1em;
}

#references-title
{
text-align: center;
background-color: #f6f6f6;
padding-top: 1em;
padding-bottom: 1em;
}

#table-top
{
background-color: #f7f7f7;
padding: 0.5em;
}

.table-body
{
background-color: #f6f6f6
padding: 0.5em;
}

#not-that-far-aside
{
margin-right: 150px;
background-color: #f7f7f7;
padding: 3em;
}

#links
{
background-color: #f6f6f6;
}

#bottom-bar-ref
{
margin-top: 20em;
background-color: black;
width: auto;
height: 500px;
}