#titleBar
{
font-family: "Anton", sans-serif;
color: black;
text-align: center;
}

.endnote
{
color: blue;
font-size: 12px;
}

#img1
{
width: 682px;
align: center;
}

#img0
{
width: 100px;
}

#olyLogo
{
width: 50px;
}

#img0:hover
{
opacity: 50%;
}

#cover-image
{
display: block;
margin-left: auto;
margin-right: auto;
}

.left-aside
{
float: left;
margin: 1em;
}

.right-aside
{
float: right;
margin: 0.6em;
}

#olyLogo:hover
{
opacity: 50%;
}

#participants
{
margin: 0.4rem;
font-size: 16px;
}

#tragedy
{
margin: 0.4rem;
font-size: 16px;
}

#Irish
{
margin: 0.4rem;
font-size: 16px;
}

#Medal
{
margin: 0.4rem;
font-size: 16px;
}

.spacer
{
background-color: white;
padding: 1rem;
}

.subtopic-title
{
text-align: center;
font-size: 22px;
}

#participants-img
{
width: 600px;
display: block;
margin-left: auto;
margin-right: auto;
}



#white-logo
{
float: left;
width: 130px;
margin: 50px;
}

#white-text
{
color: #ffffff;
}

.font
{
font-family: "Anton", sans-serif;
}